.card {
  margin-bottom: 1.25em;
  &:hover {
    border: 1px solid $teal;
  }
  &__heading {
    display: block;
    position: relative;
    background-color: #000;
    &:hover .card__main-img {
      transition: all .8s;
      opacity: .7
    }
    &:hover .card__title {
      text-decoration: underline;
    }
  }
  &__main-img {
    width: 100%;
    min-height: 11.25em;
  }
  &__title {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
    padding: .625em;
    font-size: 1em;
    line-height: 1.25em;
    color: #fff;
  }
  &__category {
    margin-bottom: .769em;
    font-size: .812em;
    line-height: 1.125rem;
    background-color: #d9edf7;
  }
  &__content {
    padding: 0 .875em .875em;
  }
  &__city {
    font-size: .875em;
    color: #ff5b5b;
    &:hover,
    &:active,
    &:focus {
      color: #ff5b5b;
    }
  }
  &__author {
    display: flex;
  }
  &__info {
    margin-top: .875em;
  }
}
.author {
  &__info {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
  }
  &__avatar {
    width: 2.188em;
    height: 2.188em;
  }
  &__name {
    font-size: .875em;
  }
}
.info {
  display: flex;
  &__item {
    padding: 0;
    font-size: .812em;
    color: rgba(0,0,0,.3);
    &:hover,
    &:active,
    &:focus {
      color: rgba(0,0,0,.45);
      text-decoration: none;
    }
    &:not(:last-child) {
      margin-right: .625em;
    }
    &[disabled],
    &[disabled]:hover,
    &[disabled]:active,
    &[disabled]:focus {
      cursor: default;
    }
  }
  &__count {
    margin-left: .25em;
  }
}